# use vi keybind style
set editing-mode vi

# show vi mode status
set show-mode-in-prompt off
set vi-ins-mode-string "[+] "
set vi-cmd-mode-string "[:] "

# ignorecase for completion
set completion-ignore-case on

# hit one tab for show all suggestion
set show-all-if-ambiguous off

# no bell
set bell-style none
